@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    padding: 0rem 1rem;
}

.container-center{
    max-width: 80%;
    margin: auto;
}

.link-primary {
    text-decoration: none;
}