@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

:root{
    --xyz: #2563eb;
    --abc: gray;
    --off-white: #f3f4f6;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
}

.container {
    padding: 0rem 1rem;
}

.container-center{
    max-width: 70%;
    align-self: center;
    text-align: center;
    margin: auto;
}   

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}


.link-primary {
    background-color: var(--xyz);
    border-radius: 3rem;
    color: white;
}

.pro-link{
    margin: 1rem 0.3rem;
}

.link-secondary{
    color: var(--xyz);
    border-radius: 3rem;
    border: 1px solid var(--xyz);
}

hr{
    margin: 2rem 0rem;
}

.list-non-bullet{
    list-style: none;
}

.list-bullet{
    list-style: disc;
    text-align: center;
    max-width: max-content;
}

.techli{
    /* float: left; */
    /* margin-left: 2rem; */
    margin-left: 1.5rem;
    list-style: none;
    display: inline;
}

/* .technologies{
    max-width: 50%;
} */

.list-item-inline{
    display: inline-block;
    padding: 0rem 0.5rem;
}

.navigation{
    background-color: var(--xyz);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
}

.navigation .link{
    color: white;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link-active{
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 2rem;
}

.hero .img-hero{
    max-width: 780px;
    display: block;
    margin: auto;
}

.hero .heading-hero{
    font-size: 40px;
    padding-top: 1rem;
    color: var(--abc);
}

.hero .heading-hero .heading-inverted{
    color: var(--xyz);
}

.pro-inverted{
    margin-top: auto;
    color: var(--abc);
}

.beautify{
    margin-top: -1.6%;
}


.section{
    padding: 2rem;
}

.section h3{
    text-align: center;
}

.ow{
    background-color: var(--off-white);
}  

.footer{
    background-color: var(--xyz);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}

.logo-instagram{
    margin-top: 10rem;
}